.map {
  height: 670px;
  background-color: #222222;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.map .leaflet-container {
  height: 100%;
}

.countriesPopup {
  background-color: #222222 !important;
}

.leaflet-popup-content-wrapper {
  background-color: #222222 !important;
}

.countryDeaths {
  color: lightgray;
}

.countryCases {
  color: lightgray;
}
.countryFlag img {
  width: 100%;
  border-radius: 10px;
}

.countryFlag {
  height: 80px;
  width: 100%;
  background-size: cover;
  border-radius: 8px;
}
