.table {
  /* margin-top: 20px; */
  /* overflow-x: hidden; */
  height: 495px;
  width: auto !important;
  /* color: #222222; */
  /* background: rgb(0, 0, 0);
  background: linear-gradient(
    47deg,
    rgba(0, 0, 0, 1) 61%,
    rgba(128, 128, 128, 1) 100%
  ); */
  /* border-radius: 20px; */
}
.confirmedCases {
  color: #ef5350;
  /* text-align: center; */
}
.deathCases {
  color: #9b3133;
}
.countryName {
  color: lightgray;
}

.table tr {
  /* display: flex;
  justify-content: space-between; */
  /* text-align: center; */
  color: gray;
}
.table td {
  border-top: none;
  padding: 0.4rem;
}
